body  {
    background-color: lime;
    font-family: "Comic Sans MS";
    line-height: 0.5;
}

p   {
    color: black;
}

a   {
    color: white;
}

a:hover {
    color: gray;
}

a:active    {
    color: dimgray;
}
ol  {
    list-style: upper-roman;
}

li  {
    line-height: 1.2;
}

h1  {
    color: red;
}

h2  {
    color: orange;
}

h3  {
    color: yellow;
}

h4  {
    color: green;
}

h5  {
    color: blue;
}

h6  {
    color: purple;
}

